#envelope{
position: relative;
}
#envelope .cir{
 background-color: red;
 color: #fff;
 font-size: 15px;
display: inline-block;
position: absolute;
width: 30px;
height: 30px;
line-height: 30px;
border: 1px solid red;
border-radius:100%;
left:-20px;
text-align: center;
top:-20px;
}
#er{
padding:20px;
box-sizing: border-box;
border:1px solid rgb(252, 19, 19);
background-color:rgb(242, 191, 161);
}
#er span{
    display: inline-block;
margin-bottom: 10px;
color: #000;
font-weight: bold;
font-size:14px;
 }

.pop-close{
    cursor: pointer;

}
.pop-close:hover{
   color: red;

}
.bbt{
    display: inline-block;
    cursor: pointer;
}
label.error{
    color: red;
}

/* .square1:focus {
    animation-name: zoom;
    animation-duration: 200ms;
  } */

  @keyframes zoom {
    from {

    }
    to {
      transform: scale(2);
    }
  }
