#envelope{
position: relative;
}
.pop{
    z-index: 99;
}
.sip{
    margin:20px 0;
}
.sip li{
    display: inline-block;
    margin:0 10px;
    background-color:#662683;
}

.sip li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border:1px solid #000;
    color:#fff;
}
.sip li .din{
display: none;
}

.sip li a.btn-primary{
    color:#662683;
    background-color:#fff;
}



.edit-form2 input[type=checkbox]{
width: auto !important;
display: inline-block;
margin-left: 20px;
 /* Double-sized Checkboxes */
 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
 transform: scale(2);
 padding: 10px;
}
.inf *{
display:inline-block;
vertical-align: middle;
}
.profile-sidebar .avatar .edit input {
    /* width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0; */
    /* opacity: 0; */
  }
#goalautocomplete-list div{
        text-align: right;

}
#goalautocomplete-list {
    height:300px;
    overflow: auto;

}
#envelope .cir{
 background-color: red;
 color: #fff;
 font-size: 15px;
display: inline-block;
position: absolute;
width: 30px;
height: 30px;
line-height: 30px;
border: 1px solid red;
border-radius:100%;
left:-20px;
text-align: center;
top:-20px;
}
#er{
padding:20px;
box-sizing: border-box;
border:1px solid rgb(252, 19, 19);
background-color:rgb(242, 191, 161);
}
#er span{
    display: inline-block;
margin-bottom: 10px;
color: #000;
font-weight: bold;
font-size:14px;
 }

.pop-close{
    cursor: pointer;

}
.pop-close:hover{
   color: red;

}
.bbt{
    display: inline-block;
    cursor: pointer;
}
label.error{
    color: red!important;
}

/* .square1:focus {
    animation-name: zoom;
    animation-duration: 200ms;
  } */

  @keyframes zoom {
    from {

    }
    to {
      transform: scale(2);
    }
  }
  /* #sss  td.today span{
background: #fff!important;
color: #333!important;
  } */
  #re_select{
    display: block;
    line-height: 36px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #662683;
    font-size: 18px;
    transition:all .3s
  }
  #re_select:hover{
    background:#eac0fd;
  }
  /* .single-city .img{
    position: relative;
    padding-top: 30%;

  }
  .single-city .img img{
    position: absolute;
    left: 0;
    right: 0;
    top:  52%;
    width: 100%;
    min-height: 100%;
    transform: translateY(-50%);
  } */


/* #trip-guides-list .single-offer .img{
    position: relative;
    padding-top: 30%;

  }
  #trip-guides-list .single-offer .img img{
    position: absolute;
    left: 0;
    right: 0;
    top:  52%;
    width: 100%;
    min-height: 100%;
    transform: translateY(-50%);
  }
 */
 body{
    padding-top:143px;
 }
#header2{
    padding: 20px 0;
}
.btt{
    float: right;
    width: 40%;
    margin: 0 5%;
    line-height: 50px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition:all .3s;
}

.violet{
    background: #662683;
    color: #fff;
}
.gray{
    background: #b4b4b4;
}
.violet:hover{background:#42075d}
.gray:hover{background:#393939}
